.competences {
  height: 100vh;
  width: 95%;
  margin: auto;
  overflow:hidden;

  &_content {
    width: 50%;


    &-title {
      font-size: 6em;
      padding-top: 0.8em;
      font-weight: bolder;
      font-family: 'Love Light', cursive;
      color: goldenrod;
      

      &-img {
        height: 1em;
      }
      
    }

    &-list {
      margin-top: 3em;

      &--item {
        font-size: 1.5em;
        margin-top: 0.5em;
      }
    }
  }
}

@media all and (max-width: 991px) {
  .competences {
    height: 100%;
    margin-top: 65em;
    width: 100%;

  
    &_content {
      width: 100%;
  
  
      &-title {
        font-size: 4em;
        padding-top: 0.8em;
        font-weight: bolder;
        font-family: 'Love Light', cursive;
        color: goldenrod;
        
  
        &-img {
          height: 1em;
        }
        
      }
  
      &-list {
        margin-top: 3em;
  
        &--item {
          font-size: 1.5em;
          margin-top: 0.5em;
        }
      }
    }
  }
}
