@import url('https://rsms.me/inter/inter.css');

.bio {
  height: 100vh;
  width: 95%;
  margin: auto;

  &-img {
    height: 20em;
    width: 20em;
    float: right;
    margin: 0em  5em 0em 1em;
    clip-path: circle(50% at 50% 50%);
  }

  &-title {
    font-size: 5em;
    padding-top: 0.8em;
    font-weight: 400;
    font-family: 'Inter var', sans-serif;
    color: rgba(23,136,183,255);

    &-img {
      height: 1em;
      margin-right: 0.5em;
    }
    
  }

  &-subtitle {
    font-size: 2em;
    margin-top: 0.8em;
    font-weight: bold;
  }

  &-content {
    margin-top: 1em;
    font-size: 1.3em;
    line-height: 1.5em;
    line-break: strict;
    text-align: justify;
  }
}


@media all and (max-width: 991px) {

  .bio {
    
    width: 95%;
    margin: auto;

    &-img {
      height: 10em;
      width: 10em;
      float: inline-end;
      clip-path: circle(50% at 50% 50%);
    }
  
    &-title {
      font-size: 4em;
      padding-top: 0.8em;
      font-weight: bold;
      font-family: 'Love Light', cursive;
      color: goldenrod;
  
      &-img {
        height: 1em;
      }
      
    }
  
    &-subtitle {
      font-size: 2em;
      margin-top: 0.8em;
      font-weight: bold;
    }
  
    &-content {
      margin-top: 1em;
      font-size: 1.3em;
      line-height: 1.5em;
      line-break: strict;
      text-align: justify;
    }
  }
}
