@import url('https://rsms.me/inter/inter.css');

.container {
  background-image: url(src/assets/images/dev.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.underContainer {
  background-color: rgba(0, 0, 0, 0.548);
  color: white;
}

.containerWidth {
  width: 80%;
  margin: auto;
  overflow:hidden;
  font-family: 'Inter var', sans-serif;
}

.competences {
  
  .competences_intro {
    font-size: 1.2em;
    width: 80%;
    margin: 3em auto;
    text-align: justify;
    line-height: 1.2em;

    .competences_intro-span {
      font-style: italic;
      text-decoration: underline;
    }
  }
  .competences_techniques {
    font-size: 2em;
    margin-top: 1.5em;
    font-weight: bold;
  }

  .competences_transverses {
    font-size: 2em;
    margin-bottom: 0.8em;
    font-weight: bold;

    
  }

  .competences_transverses-content {
    font-size: 1.2em;
    margin-bottom: 1em;
    line-height: 1.2em;
  }

  .competence_section-content {
    font-size: 1.2em;
    margin-top: 0.5em;
    line-height: 1.2em;

    
  }

  .competence_section-content--end {
    margin-bottom: 2em;
    font-size: 1.2em;
    margin-top: 0.5em;
    line-height: 1.2em;
  }

  &_content {


    &-title {
      font-size: 5em;
      padding-top: 1em;
      margin-left: 0.2em;
      font-weight: 400;
      font-family: 'Inter var', sans-serif;
      color: rgba(23,136,183,255);
      

      &-img {
        height: 1em;
      }
      
    }

    .competences_list-title {
      font-size: 1.8em;
      margin-top: 2em;
      font-style: italic;
    }

    &-list {
      margin-top: 1em;
      display: flex;
      flex-direction: row;
      align-items: center;

      &--item {
        font-size: 1.3em;
        margin-top: 0.5em;
        margin-right: 2em;
      }
    }
  }

}

@media all and (max-width: 991px) {
  .competences {
    width: 95%;
    margin: auto;
    overflow:hidden;
    font-family: 'Inter var', sans-serif;

    .separator {
      border-bottom: solid 1px black;
      margin-left: 4.5em;
      padding-left: 15em;
    }
  
    .competences_intro {
      font-size: 1.2em;
      width: 90%;
      margin: 3em auto;
      text-align: justify;
  
      .competences_intro-span {
        font-style: italic;
        text-decoration: underline;
      }
    }
    .competences_techniques {
      font-size: 1.8em;
      margin-top: 1.5em;
      font-weight: bold;
    }
  
    .competences_transverses {
      font-size: 1.8em;
      margin-bottom: 1em;
      font-weight: bold;
  
      
    }
  
    .competences_transverses-content {
      font-size: 1.2em;
      margin-bottom: 1em;
      line-height: 1.2em;
    }
  
    .competence_section-content {
      font-size: 1.2em;
      margin-top: 0.5em;
    }
  
    &_content {
  
  
      &-title {
        font-size: 3em;
        padding-top: 1.5em;
        font-weight: 400;
        font-family: 'Inter var', sans-serif;
        color: rgba(23,136,183,255);
        
  
        &-img {
          height: 1em;
        }
        
      }
  
      .competences_list-title {
        font-size: 1.5em;
        margin-top: 1.5em;
        font-style: italic;
      
      }
  
      &-list {
        width: 95%;
        margin-top: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5em;
  
        &--item {
          font-size: 1.3em;
          margin-top: 0.5em;
          margin-right: 2em;
        }
      }
    }
  
  }
}

@keyframes upDown {

  0% {

  }

  100% {
    
  }
  
}
