@import url('https://rsms.me/inter/inter.css');

.navigation-author {
  padding-right: 90vh;
  font-size: 1.5em;
  font-weight: 600;
}

.navigation {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 6;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #efefef;
  font-family: 'Inter var', sans-serif;

  &-item {
    font-size: 1.5em;
    padding: 0.7em;
    font-weight: 600;
    font-family: 'Inter var', sans-serif;
    

    &:hover {
      color: rgba(23,136,183,255);
      
    }
    
  }
}

label, #toggle
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    nav
    {
        height: 60px;
    }
 
    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        height: 160px;
        top: 2px;
        left: 0px;
        padding-left: 2px;
        background-color: rgba(0, 0, 0, 0.233);
        position: absolute;
        border-radius: 5px;
    }
 
    nav .main_pages a {
        width: 50%;
        padding-bottom: 0.2em;
        
    }

    .navigation {
      text-align: left;
      color: black;
      animation-name: slideintitle;
      animation-duration: 4s;  
      display: flex;
      justify-content: center;
      height: 60px;
      
    
      &-item {
        font-size: 1em;
        padding: 0em;
        margin: 0.3em;
        
    
        &:hover {
          color: rgba(23,136,183,255);
          
        }
        
      }
    }
 
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: black;
        cursor: pointer;
    }
 
    #toggle:checked + .main_pages {
      display: flex;
    }

    
}

@keyframes slideintitle {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
